body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.btnInUse{
    background-color: orange;
}
.btnInUse:hover{
    background-color: orangered;
}
.btnDisabled{
    background-color: gray;
}

#audioPlayback {
    margin-top: 20px;
}

.comparison {
    margin-top: 20px;
}

.result {
    margin-top: 10px;
    font-weight: bold;
}